.friendMessage {
    width: 575px;
    height: 80px;
    margin-left: 50px;
    margin-bottom: 50px;


}

.friendImageAndText {
    display: flex;
    align-items: center;

}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 20px;

}

.friendText {
display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background-color: #F5F7FB;
    font-size: 16px;
    border-radius: 20px;
}

.friendText:after {
    content: '';
    position: absolute;
    top: 49%;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #F5F7FB transparent;
    transform: translateX(-23px);
}

.friendName {
font-weight: bold;
    font-size: 18px;
}

.friendMessageText {
    margin-top: 5px;

}

.friendTime {

}
